<!DOCTYPE html>

<!-- Diretiva ng-app, significa que o angular irá controla todos conteúdo dentro de html -->
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Fundamentos Angular</title>
	
	<!-- Importando angular -->
	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript">

		/*
		* app é o nome da aplicação
		* [] são as dependencias
		* 
		*/
		angular.module('app', []);
		/* Localizar a aplicação angular.module.('app')
		* [] é utilizado para importar componentes para dentro da controller criada
		* se tivesse mais diretivas em [] é necessário colocar como parâmetros na function
		* Não é utilizado a $scope, e sim a controller 
		*/
		angular.module('app').controller('MeuController', [

			function(){
				/* Garantindo que o self é a controller atual */
				const self = this;
				/* Cria a variável value dentro da controller */
				self.value = 10;

				/* Criação da função inc dentro da controller */
				self.inc = function(){
					self.value++;
				}

			}
		]);

	</script>

</head>
<body>

	<!-- Cria uma referencia para a controller, no caso ctrl -->
	<div ng-controller="MeuController as ctrl">

		<!-- value do scopo -->
		<h1>{{ctrl.value}}</h1>

		<!-- Criado um listener que atualizará a variável value -->
		<input ng-model="ctrl.value"/>

		<!-- chamando a função inc() do scopo -->
		<button ng-click="ctrl.inc()">Inc</button>

	</div>
</body>
</html>